.App {
  text-align: center;
}

.container_enteringData {
  border: var(--bs-border-width) solid var(--bs-card-border-color);
  border-radius: var(--bs-card-border-radius);
  box-shadow: var(--bs-box-shadow-sm);

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container_enteringData_main {
  padding: 3rem;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.container_enteringData_img {
  width: 30%;

  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: center;
}


.container_enteringData_img img {
  width: 100%;
  min-width: 120px;
  border-radius: 5%;
}

.forma {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin: 0 auto;
}

.forma form {
  width: 100%;
}

.forma h1 {
  text-align: center;
  margin-bottom: 3%;
  margin-top: 3%;
  font-size: calc(1.375rem + 1.5vw);
}

.forma input,
.forma button {
  width: 100%;

  height: calc(3.5rem + var(--bs-border-width)* 2);
  min-height: calc(3.5rem + var(--bs-border-width)* 2);

  border: var(--bs-border-width) solid var(--bs-border-color);
  border-radius: var(--bs-border-radius);

  background-color: white;

  font-size: 1rem;
  font-weight: 400;

  line-height: 1.25;

  padding: 1rem .75rem;

  margin-bottom: 3%;
}

.forma button {
  cursor: pointer;

  color: var(--bs-btn-color);
  font-size: var(--bs-btn-font-size);
  font-weight: var(--bs-btn-font-weight);
  line-height: var(--bs-btn-line-height);

  padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x);
  text-align: center;
  vertical-align: middle;

  text-decoration: none;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.forma button:hover {
  background-color: var(--bs-btn-hover-bg);
  border-color: var(--bs-btn-hover-border-color);
  color: var(--bs-btn-hover-color);
}

.container_enteringData_footer {
  background-color: var(--bs-card-cap-bg);
  border-top: var(--bs-border-width) solid var(--bs-card-border-color);
  width: 100%;
  text-align: center;
  padding: 1.5rem
}

.container_enteringData_footer a {
  color: var(--bs-btn-hover-bg);
  cursor: pointer;
}

.container_enteringData_footer a:hover {
  color: blue;
}

.container_enteringData_footer span {
  display: inline-block;
  margin-right: 2%;
}